@import url('https://fonts.googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #06350e; 
    font-family: "Prata", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background: linear-gradient(to bottom, #378809, #0f4b19);
    color: white;
    width: 100%;
    max-width: 600px; 
    margin-top: 20px;
    border-radius: 30px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    padding-bottom: 30px;
}


.header-image {
    width: 100%;
    height: 300px;
    
    background: linear-gradient(to bottom, transparent 70%, #2b730d 100%), 
                url('../images/lobo.png'); 
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 26px;
    padding: 0 20px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    padding: 0 30px;
    margin-bottom: 20px;
    font-weight: 300;
}


main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

main a {
    text-decoration: none;
    width: 80%; 
}

button {
    font-family: "Prata", serif;
    width: 100%;
    height: 55px;
    font-size: 18px;
    font-weight: 500;
    color: #0f4b19;
    background-color: azure;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}


button:hover {
    transform: scale(1.03);
    background-color: #ffffff;
}

footer {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

