body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #05350b;
  font-family: "serif";
}

.card-container {
  width: 60vmin;
  height: 84vmin;
  perspective: 1500px;
  max-width: 400;
  max-height: 560px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.6);
}
.front {
  background-color: rgb(17, 17, 17);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
}

.front.golden {
  color: #daa520;
}
.top-left,
.bottom-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8vmin;
  font-weight: bold;
  line-height: 1;
}

.top-left {
  top: 10px;
  left: 10px;
}
.bottom-right {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}
.center-suit {
  font-size: 30vmin;
}

.back {
  background-color: #fff;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
