@import url("https://fonts.googleapis.com");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(130, 80%, 12%);
  font-family: "Prata", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.container {
  background: linear-gradient(to bottom, #317907, #0f4b19);
  color: white;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  padding-bottom: 30px;
}
.header-image {
  width: 100%;
  height: 300px;

  background:
    linear-gradient(to bottom, transparent 70%, #2b730d 100%),
    url("../images/Lobo.jpeg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
h1 {
  font-size: 26px;
  padding: 0 20px;
  margin-bottom: 15px;
}
p {
  font-size: 25px;
  line-height: 1.6;
  padding: 0 30px;
  margin-bottom: 20px;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

main a {
  text-decoration: none;
  width: 80%;
}

button {
  font-family: "Prata", serif;
  display: inline-block;
  padding: 12px 24px;
  width: auto;
  min-width: fit-content;
  font-size: 18px;
  font-weight: 500;
  color: #0a0a0a;
  background-color: azure;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.2s;
}
button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 300%;

  background: conic-gradient(transparent, #002776, #00d4ff, transparent 30%);
  z-index: -2;
  opacity: 0;
  transition: opacity 0.3s;
}
button::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: azure;
  border-radius: 8px;
  z-index: -1;
  transition: background-color 0.3s;
}
@keyframes girarBorda {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

button:hover {
  transform: scale(1.05);
}

button:hover::before {
  opacity: 1;
  animation: girarBorda 2s linear infinite;
}

button:hover::after {
  background-color: #ffffff;
}

footer {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
